.producto-car{
    background-color: rgb(255, 255, 255);

    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    position: relative;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.produc-nombre{
    margin: 2px;
    font-weight: bold;
    font-size: 25px;
    max-width: calc(100% - 90px);
   
}
.produc-subtotal{
    margin: 2px;
    color:#D62246;
    font-weight: bold;
    
}