.producto-car{
    background-color: rgb(255, 255, 255);

    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    position: relative;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.produc-nombre{
    margin: 2px;
    font-weight: bold;
    font-size: 25px;
    max-width: calc(100% - 90px);
   
}
.produc-subtotal{
    margin: 2px;
    color:rgb(166, 0, 0);
    font-weight: bold;
    
}

/* BOTONES */
.contador{
    border: solid;
    border-color: rgb(166, 0, 0);
    border-radius: 10px;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: baseline;
    align-items: center;
    position: relative;
    position: absolute;

    top: 30px;
    right: 20px;    
    
}
.btn-mas{
    background-color: transparent;
    border: none;
    font-size: 25px;


}

.btn-menos{
    background-color: transparent;
    border: none;
    font-size: 45px;
    /* font-weight: bold; */
    position: absolute;
    top: -15px;
    right: 10px;
    
   
}
.span-num{
    font-size: 20px;
}