.boton-secundario{
    background-color: #191516;
    border-radius: 30px;
    border: solid #D62246;
    color: aliceblue; 
    width: 130px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
}

.boton-secundario:hover{
    cursor: pointer;
}