.boton-container{
    display: flex;
    align-items: center;
}



.boton{
    background-color: #D62246;
    border-radius: 20px;
    border: none;
    color: aliceblue; 
    margin: 15px 25px;
    width: 130px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    
}

.boton:hover{
    background-color: #ff0033;
    cursor: pointer;
}

.text-contraseña{
    color: black;
    margin: 15px 25px;
    font-size: 20px;
    padding: 5px 0px;
    text-align: center;
    text-decoration: underline;

}