.container-producto{
    background-color: rgb(255, 255, 255);
    border: solid 3px;
    border-color: rgb(255, 234, 0);
    border-radius: 10px;

    color: black;
    margin: 20px 1px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    position: relative;
}

.produc-nombre{
    margin: 2px;
    font-weight: bold;
    font-size: 25px;
    max-width: calc(100% - 90px);
}

.produc-precio{
    margin: 2px;
    color:#D62246;
    font-weight: bold;
    
}

.produc-descripcion{
    margin: 2px;
}


/* BOTONES */
.contador{
    border: solid;
    border-color: #D62246;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: baseline;
    align-items: center;
    position: absolute;

    top: 25px;
    right: 20px;    
    justify-content: space-between;
}

.btn-mas{
    background-color: transparent;
    border: none;
    font-size: 25px;
}

.btn-menos{
    background-color: transparent;
    border: none;
    font-size: 45px;
    position: relative;
    top: -4px;
}

.span-num{
    font-size: 20px;
}